.App {
    text-align: center;
}

.PeriodicTable {
    display: grid;
    gap: 0;
    grid-auto-columns: max-content;
}

.Element {
    position: relative;
    text-align: center;
    border: solid 1px;
    margin: 2px;
    width: 5em;
}

.ElementProperty {
    margin: 2px;
}

.ElementUpperContainer {
    display: flex;
    justify-content: space-between;
}

.ElementSymbol {
    font-size: 2em;
    margin-top: 0;
}
.ElementName {
    font-size: 0.66em;
}
.ElementUpperProperty {
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 0;
}

.ElementColor {
    position: absolute;
    top: 6%;
    left: calc(50% - 0.8em/2);
    width: 0.8em;
    height: 0.8em;
    margin: 0;
}
